In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('cyp1a2_bilirubin_1.pdbqt',sep="\t",engine='python',encoding="cp949")

In [3]:
data

                                                MODEL 1
0     REMARK VINA RESULT:      -7.2      0.000      ...
1                           REMARK  16 active torsions:
2     REMARK  status: ('A' for Active; 'I' for Inact...
3     REMARK    1  A    between atoms: O1_1  and  C2...
4     REMARK    2  A    between atoms: O2_2  and  C2...
...                                                 ...
1044                                  ENDBRANCH  44  45
1045                                  ENDBRANCH  31  44
1046                                  ENDBRANCH   1  26
1047                                         TORSDOF 16
1048                                             ENDMDL

[1049 rows x 1 columns]

In [4]:
filter=data['MODEL 1'].str.contains("REMARK VINA RESULT")

In [5]:
data_filtering=data[filter]

In [6]:
data_filtering=data_filtering['MODEL 1'].str.split('     ',expand=True)

In [7]:
type(data_filtering)

pandas.core.frame.DataFrame

In [8]:
del data_filtering[0]

In [9]:
data_filtering

         1       2       3
0     -7.2   0.000   0.000
105   -7.1   2.730   7.546
210   -6.8   2.651   7.614
315   -6.8   2.158   6.957
420   -6.6   1.904   5.878
525   -6.4   2.568   7.614
630   -6.4   1.977   6.556
735   -6.3  25.196  28.416
840   -6.3  30.308  33.886
945   -6.2   3.503   7.464

In [10]:
data_filtering.columns=["score","RMSD l.b","RMSD u.b"]

In [11]:
data_filtering.to_excel('cyp1a2_bilirubin_1_test.xlsx', index=False)