In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('cyp1a2_lidocaine.pdbqt',sep="\t",engine='python',encoding="cp949")

In [3]:
data

                                               MODEL 1
0    REMARK VINA RESULT:      -6.2      0.000      ...
1                           REMARK  9 active torsions:
2    REMARK  status: ('A' for Active; 'I' for Inact...
3    REMARK    1  A    between atoms: P1_1  and  O2_4
4    REMARK    2  A    between atoms: P1_1  and  O3_5
..                                                 ...
564  ATOM     22  C5  UNK     1     127.136 -14.571...
565                                  ENDBRANCH  16  17
566                                  ENDBRANCH   1  16
567                                          TORSDOF 9
568                                             ENDMDL

[569 rows x 1 columns]

In [4]:
filter=data['MODEL 1'].str.contains("REMARK VINA RESULT")

In [5]:
data_filtering=data[filter]

In [6]:
data_filtering

                                               MODEL 1
0    REMARK VINA RESULT:      -6.2      0.000      ...
57   REMARK VINA RESULT:      -6.0     34.355     3...
114  REMARK VINA RESULT:      -5.9     27.072     2...
171  REMARK VINA RESULT:      -5.7     31.016     3...
228  REMARK VINA RESULT:      -5.7     34.745     3...
285  REMARK VINA RESULT:      -5.6      1.151      ...
342  REMARK VINA RESULT:      -5.6      3.935      ...
399  REMARK VINA RESULT:      -5.6     26.807     2...
456  REMARK VINA RESULT:      -5.5      9.033      ...
513  REMARK VINA RESULT:      -5.5     23.289     2...

In [7]:
data_filtering.to_csv('cyp1a2_lidocaine.txt', index=False, header=None, sep="\t")